@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  .navbar-link {
    &.active {
      @apply text-brand border-brand border-opacity-30;
    }
  }
  .submenu {
    @apply hidden absolute bg-white shadow z-20;
    .navbar-link {
      @apply text-sm whitespace-nowrap px-4 py-2 hover:text-brand;
    }
    li {
      @apply border-b border-gray-200;
      &:last-child {
        @apply border-0;
      }
    }
  }
  .has-submenu {
    @apply relative;
    &:hover {
      .submenu {
        @apply block;
      }
    }
  }
}

.page {
  ._1bpcM {
    background-color: rgb(79, 206, 93);
    color: white;
    font-size: 2.5em;
    @apply fixed right-4 bottom-4 m-0 lg:right-8 lg:bottom-8;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @apply text-brand opacity-60 hover:opacity-100 transition-opacity;
    &:after {
      @apply bg-white p-2 rounded text-2xl leading-none lg:text-3xl lg:p-3;
    }
  }
  .swiper-button-next {
    @apply lg:right-4;
  }
  .swiper-button-prev {
    @apply lg:left-4;
  }
}
